body {
  margin: 0;
  font-family: 'Amatic SC', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(hsla(211, 99%, 65%, 1) 0%, hsla(235, 72%, 59%, 1) 100%);
  background-attachment: fixed;
  overflow: hidden; /* Esta propriedade oculta as barras de rolagem */
}

code {
  font-family: 'Amatic SC', sans-serif;
}
