body {
  margin: 0;
  padding: 0;
  font-family: 'Amatic SC', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(0deg, rgba(128,83,248,1) 0%, #f263c0 100%);
  background-attachment: fixed;
  overflow-x: hidden;
}

code {
  font-family: 'Amatic SC', sans-serif;
}
